footer{
    background: #3a3939;
    padding: 20px 25px;
    width: 100%;
    height: 220px;
    h2{
        text-align: left;
        color: white;
        font-family: Shrikhand;
        font-weight: 400;
        margin-bottom: 15px;
    }
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    text-transform: none;
    line-height: 30px;
    color: white;
}
.ft{
    margin-left: 15px;
}

// Tablette
@media only screen and (min-width: 768px){
    footer{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        h2{
            text-align: center;
        }
    }
    ul li{
        text-align: center;
    }
    
}

// Dekstop
@media only screen and (min-width: 992px){
    footer{
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
    ul{
        text-align: center;
    }
    ul li{
        display: inline-block;
        padding-top: 30px;
    }
    ul li a{
        margin: 0 50px;
    }
}
    